<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebProjectDMV</title>
    <link href="../static/bootstrap.css" rel="stylesheet">
</head>
<body>

<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="home.html" class="navbar-brand">NCDMV Appointment Scheduler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="home.html"> About </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="form.html"> Schedule an Appointment </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mailto:sample@gmail.com"> Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>What is NCDMV Appointment Scheduler</h2>
        </div>
        <div class="col-md-12">
            <p>This is an <b>UNOFFICIAL</b> North Carolina DMV Service Appointment Scheduler. <b>Personal use only.</b>
                This appointment scheduler can help you schedule an appointment with your preferred time right after
                other people cancel their appointments.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Information Collected & Stored Automatically</h2>
        </div>
        <div class="col-md-12">
            <p>The only information collected are the ones you filled out.
                This scheduler uses <b>Personal Information</b> to fill out the contact information for you when an available time is open,
                and it uses <b>Appointment Information</b> to find the appointment with your preferred date, time, and location.
                All the infomation collected is being stored temporarily, and it will automatically be deleted when you stop the scheduler.</p>
        </div>
    </div>
</div>

</body>
</html>